a {
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
}

.mdc-top-app-bar	{
  --mdc-theme-primary: #ff9800;
}

header a{
  color: #FFF;
  font-size: 20px;
  line-height: 64px;
}

.nav-drawer {
  position: absolute;
  top: 64px;
  width: 60px;
  height: calc(100vh - 64px);
  background-color: #FFF;
}

.content {
  background-color: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  border-radius: 4px;
  width: calc(100vw - 108px);
  height: calc(100vh - 112px);
  position: absolute;
  top: 88px;
  left: 84px;
}

.step-header {
  width: calc(100% - 32px);
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.edit-container {
}

.eye-size-h {
  width: 120px !important;
}
