/* 
Table of contents
1. Foundation
2. Depending on the class
*/


/* -- 1. Foundation -- */
a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: rgba(0,0,0,0.6);
}

input, textarea {
  -webkit-user-select : auto !important;
 }

body {
  background-color: #FAFAFA;
  --mdc-theme-primary: #ff9800;
  --mdc-theme-secondary: #2196f3;
}

header {
}

main {
  padding: 24px;
}

.disable {
  display: none;
}


/* -- 2. Depending on the class -- */

/* 2.1 header */

/* 2.2 dialog */
.mdc-dialog__content {
  display: flex;
}

.color-pallet-block {
  /* display: flex; */
  /* width: 400px; */
  padding: 16px 0px 16px 24px;
}

.color-pallet-block p {
  padding-bottom: 1rem;
}

.btn-circle-flat {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  opacity: 0.6;
}

.paper-container {
  background-color: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  border-radius: 4px;
  width: calc(100vw - 48px);
  height: calc(100vh - 112px);
  position: relative;
  top: 64px;
}

.step-header {
  width: calc(100%);
  height: 48px;
  line-height: 48px;
  /* padding: 0 16px; */
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.edit-container {
  display: flex;
  align-items:stretch;
  flex-direction: row; 
  flex-wrap: nowrap;
  height: 100%;
  max-height: 534px;
  padding: 24px 16px;
}

.edit-block {
  min-width: 328px;
}

.parts-title {
  padding-bottom: 16px;
}



.left-block {
  margin-right: 16px;
}

.row-1 {
  padding-bottom: 16px;
}

.row-2 {
  display: flex;
  padding-bottom: 8px;
}

.row-3 {
  display: flex;
  padding-bottom: 24px;
}

.eye-size {
  margin-right: 16px;
}

.eye-width {
  margin-right: 16px;
}

.mdc-slider {
  margin-right: 1rem;
}

.middle-block {
  position: relative;
  top: 0px;
  width: calc(100vw - 758px);
  height: 520px;
}

.right-block {
  margin-left: 16px;
}
